#container {
    width: 700px;
    margin : 0 auto;
    font-family: 'Roboto', sans-serif;
  }
  
  header {
    background-color : black;
    color : white;
    padding : 10px 30px;
    text-align: center;
    border-bottom: 1px white dashed;
    
  }
  #description {
    width: 400px;
    margin:0 auto;
  }
  main{
  background-image: url("https://images.unsplash.com/photo-1528180016028-1bbe94845a16?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");
  background-repeat: no-repeat;
  background-position:center;
  background-size:100%; 
  padding:45px 0px;
    
  }
  
  #survey-form {
    width:400px;
    margin: 0px auto;
    background-color: rgba(0,0,0,0.9);
    color:white;
    padding: 15px;
    border: 2px white solid;
    border-radius:10px;
    
  }
  
  #name , #email {
    width: 250px;
    padding: 5px;
    margin: 5px 0px;
    border : none;   
  }
  #number {
    padding: 5px;
    margin: 5px 0px;
    border : none;
  }
  select{
    padding: 5px;
    margin: 5px 0px;
  }
  
  #submit{
    color:white;
    background:black;
    border:1px white solid;
    padding: 10px 25px;
    border-radius: 5px;
    width:150px;
    margin:0 auto;
    
  }
  #submit:hover{
    background:red;
  }